body{

    font-family: 'Shabnam', sans-serif;
}
#searchbar{
    text-align: center;width: 80%;margin: 0 auto;
}
#Fname,#Flastname,#Fage,#Fwork{
  width: 10%;
  height: 55px;
  text-align: center;
  margin: 10px;
  padding: 12px 10px;
  border-radius: 4px;
  border: 1px solid #4e5766;
  box-shadow: 1px 0.5px #888888;
  font-size: 18px;
  align-items: center;
}
#showall{
    padding: 12px 10px;
    width: 10%;
    border-radius: 3px;
    background-color: #4286f4;
    color: #ffffff;
    cursor: pointer;
    font-size: 18px;
}
#filter{
    padding: 12px 10px;
    width: 10%;
    border-radius: 3px;
    background-color: #4286f4;
    color: #ffffff;
    cursor: pointer;
    font-size: 18px;
}
#cont{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap:50px;
    row-gap: 10px;
    
}
#profile{
    display: flex;
    flex-direction: row-reverse;
    align-items: stretch;
}
